{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% load bootstrap %}
{% load static%}

{% block links %}
<link rel="stylesheet" href={% static 'css/criar-cardapio.css'%}>
    
{% endblock links %}    

{% block main %}
<main class="container">   
    <div id="main-contents"class="hero">
        <div id="container-contents">
            {% if request.user.is_authenticated %}

            <form action="" method="POST"   >
                <div class="container-eva">
                    {% csrf_token %}
                    {{form|crispy}}
                
                </div>
                <div id="enviar" class="text-center mt-4">
                    {% comment %} <a href={% url 'login' %} class="btn-book-a-table primary">Entrar</a> {% endcomment %}
                    <button type="submit"class="btn-book-a-table primary">Cadastrar</button>
                </div>
            </form>
            {% else %}
                <h3>Ação não permitida</h3>

                <p>Houve algum problema para processar a ação desejada ou você não tem permissão para isso.</p>
            
            {% endif %}
        </div>
    </div>
</main>

{% endblock main %}

{% block footer %}

{% endblock footer %}