body{
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-login.jpeg") center center;
  background-size: cover;
  padding: 100px 0;
}

.container {
  background-color: var(--color-primary-ru);
  color: #eee;
  width: 37.375rem;
  margin: 0 0.625rem;
  padding: 2.125rem 0 2.5rem 0 ;

  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
}

#container-contents {
  max-width:  28.625rem;
  width: 100%;
}

#container-contents > div{
  text-align: center;
  font-size: 1.3rem;
  color: var(--white);
}

#container-contents p{
  color: #EEE;

  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#container-contents a{
  color: var(--words);
  text-decoration: none;
}