{% extends 'main/base.html' %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/login.css'%}>
    <link rel="stylesheet" href={% static 'css/password_reset_confirm.css'%}>

    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}  

{% block main %}
<main class="container">
    <div id="container-contents" class="contents_confirm_password">
    {% if validlink %}
        <div id="passowrd" class="text-center">
            <h3>Nova senha</h3>
        </div>
        
        <p id="description" class="text-center">
            Digite sua nova senha duas vezes:
        </p>

        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="enviar">
                <button id="a" type="submit">Alterar minha senha</button>
            </div>
        </form>
    {% else %}
        <p>O link de redefinição de senha era inválido, 
        possivelmente porque já foi usado. 
        Solicite uma nova redefinição de senha</p>
    {% endif %}
    </div>
</main>
{% endblock %}

{% block footer %}
    
{% endblock footer %}  