{% extends 'main/base.html' %}
{% load bootstrap %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/login.css'%}>
    <link rel="stylesheet" href={% static 'css/password_reset_done.css'%}>
   
    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}

{% block main %}

<main class="container">
    <div id="container-contents" class='text-center'>
        <div id="reset">
            <h3>Um e-mail com instruções foi enviado para sua conta!</h3> 
        </div>
        <!-- <p class="tamanho">Um e-mail com instruções foi enviado para sua conta!</p> -->

        <p class="tamanho">Caso não receba o e-mail, verifique o endereço com o qual registrado.</p>
    
        <div id="enviar" class="text-center mt-4">
            <a id="a" href={% url 'home' %}>Página Inicial</a>
          </div>

    </div>
</main>

{% endblock %}

{% block footer %}
    
{% endblock footer %}  
