{% extends 'main/base.html' %}
{% load static%}

% block links %}
    
<link rel="stylesheet" href={% static 'css/login.css'%}>

<title>RU-UFPI</title>

{% load crispy_forms_tags %}


{% block main %}
 
<main class="container hero mt-5 mb-5">   
    <div id="main-contents" class="mt-5">
        <div id="container-contents">
            {% if request.user.is_authenticated %}

            <form action="" method="POST"  >
                {% csrf_token %}
                {{form|crispy}}
            
                <div id="enviar"  class="text-center mt-3 mb-3">
                    <a id="a" href={% url 'lista-componente' %}  class="mt-3">Voltar</a> 
                    <button type="submit" id="a" class="mt-3">Cadastrar</button>
                </div>
            </form>
            {% else %}
                <h3>Ação não permitida</h3>

                <p>Houve algum problema para processar a ação desejada ou você não tem permissão para isso.</p>

            {% endif %}
        </div>
    </div>
</main>

{% endblock main %}

